/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}


.elemento{
    display: flex;
    justify-content: center;
}

.paloSemaforo{
    height: 7rem;
    width: 3rem;
    background-color: black;
    margin: auto;
}

.luces {
    margin: auto;
    background-color: black;
    width: 200px;
    height: 550px;
    align-content: center;
    border-radius: 25%;
    border-left: 10px solid;
    border-right: 10px solid;
    border-color: yellow;
}

.luzRoja {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2rem;
    

}

.luzAmarilla {
    background-color: rgb(255, 166, 0);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2rem;
}



.luzVerde {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

.activaRoja {
    box-shadow: 0 0 10px rgb(255, 78, 78), 0 0 40px rgb(255, 78, 78), 0 0 80px rgb(255, 78, 78);
}

.activaNaranja {
    box-shadow: 0 0 10px rgb(255, 187, 61), 0 0 40px rgb(255, 187, 61), 0 0 80px rgb(255, 187, 61);
}

.activaVerde {
    box-shadow: 0 0 10px lightgreen, 0 0 40px lightgreen, 0 0 80px lightgreen;
}

.botonCambio{
    display: flex;
    justify-content: center;
}

.cambioDeLuz {
    margin: 2rem;
    border-radius: 20%;
    height: 5rem;
    font-size: 2rem;
    background-color: deepskyblue;
}

.añadeMorado{
    margin: 2rem;
    border-radius: 20%;
    height: 5rem;
    font-size: 2rem;
    background-color: purple;
}

.añadeMorado:hover{
    background-color: crimson;
    color: white;
}

.cambioDeLuz:hover {
    background-color: blue;
    color: white;
}

.morado{
    background-color: purple;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
}

.activaMorado{
    box-shadow: 0 0 10px purple, 0 0 40px purple, 0 0 80px purple;
}

.oculto{
    display: none;
}